.cart-footer {
  height: 10rem;
  padding: 1.25rem;
  background-color: #fff;
  border: 1px solid var(--color-grey-light-2);
  margin-top: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__promo-code {
    font-size: 1.2rem;
    font-weight: 600;
  }

  &__button-text {
      display: flex;
      justify-content: space-around;
  }
}
