.custom-button {
  font-family: inherit;
  font-size: 0.9rem;
  width: auto;
  padding: 0.8rem 1rem;
  background-color: var(--color-primary-dark);
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: #fff;
    color: var(--color-primary-dark);
    border: 1px solid var(--color-primary-dark);
  }
}
