.header {
  font-size: 1.4rem;
  height: 5.5rem;

  background-color: #fff;
  box-shadow: var(--shadow-dark);

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (min-width: 768px) {
    height: 9rem;
    display: flex;
  }

  @media only screen and (min-width: 1366px) {
    display: flex;
    justify-content: space-around;
  }
}

////////////////////////////////////////
// LOGO
.logo-container {
  @media only screen and (min-width: 1280px) {
    flex: 0 0 50%;
    display: flex;
  }
}

.logo {
  height: 4.5rem;
  margin-left: 1rem;

  @media only screen and (min-width: 768px) {
    height: 6.5rem;
  }

  @media only screen and (min-width: 1024px) {
    flex: 0 0 50%;
    margin-left: 0;
  }
}

.items-wrapper {
  display: flex;
  @media only screen and (min-width: 1280px) {
    flex: 0 0 25%;
  }
}

.user-nav {
  &__nav-item {
    display: none;
    padding: 0.5rem 2rem;
    cursor: pointer;
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }

    @media only screen and (min-width: 768px) {
      display: flex;
      align-items: flex-end;
      font-size: 1.6rem;
    }
  }
  @media only screen and (min-width: 768px) {
    display: flex;
  }
}

////////////////////////////////////////
// USER-CART
.user-cart {
  display: flex;
  align-self: stretch;
  background-color: var(--color-grey-light-3);

  &__logo-box {
    font-size: 1.6rem;
    margin-right: 2em;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
  }

  @media screen and (min-width: 768px) {
    align-self: initial;
  }
}

.auth-links {
  display: none;
  margin: 0.75rem;

  &__item {
    font-size: 1.3rem;
    text-decoration: none;
    color: inherit;
    cursor: pointer;

    &:last-child {
      margin-left: 2rem;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: flex-end;
  }
}
