.cart-dropdown {
  position: absolute;
  width: 40rem;
  height: 85vh;
  border: 1px solid var(--color-grey-dark-3);
  background-color: var(--color-grey-light-2);
  top: 9rem;
  right: 25rem;
  z-index: 5;

  display: flex;
  flex-direction: column;

  .cart-items {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  button {
    margin-top: auto;
  }
}
