.cart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 2rem;

  @media screen and (min-width: 1280px) {
    font-size: 1.6rem;
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  span {
    margin-left: 0.5rem;
  }
}

.small {
  background-color: #fff;
  margin-top: 3rem;
}

.large {
  background-color: #000;
  margin-top: 0;
  color: #fff;
}
