.banner {
    margin-top: 2.5rem;
    width: 95%;
    box-shadow: var(--shadow-custom);

    @media screen and (min-width: 768px) {
        width: 76%;
    }

    @media screen and (min-width: 1024px) {
        width: 60%;
    }

    @media screen and (min-width: 1280px) {
        width: 78%;
    }
}