////////////////////////////////////////
// LOGO
.logo-container {
  @media only screen and (min-width: 1280px) {
    flex: 0 0 50%;
    display: flex;
  }
}

.logo {
  height: 4.5rem;
  margin-left: 1rem;
}

.header {
  font-size: 1.4rem;
  height: 6rem;

  background-color: #fff;
  box-shadow: var(--shadow-dark);

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (min-width: 1280px) {
    display: flex;
    justify-content: space-around;
  }
}

.items-wrapper {
  display: flex;
  @media only screen and (min-width: 1280px) {
    flex: 0 0 25%;
  }
}

.user-nav {
  &__nav-item {
    display: none;
    padding: 0.5rem 2rem;
    cursor: pointer;
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }

    @media only screen and (min-width: 1280px) {
      display: flex;
      align-items: flex-end;
    }
  }
  @media only screen and (min-width: 1280px) {
    display: flex;
  }
}

////////////////////////////////////////
// USER-CART
.user-cart {
  display: flex;
  align-self: stretch;
  background-color: var(--color-grey-light-3);

  &__logo-box {
    font-size: 1.8rem;
    margin-right: 2em;

    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
  }
}
